pkgbase = nvag-bin
	pkgdesc = Database Management Studio voor meerdere databaseplatformen (SQL Server, PostgreSQL, MySQL, MariaDB, Db2, Oracle, Snowflake, Azure SQL/Synapse, Databricks, SQLite) — prebuilt AppImage van GitHub Releases
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/Shirak-Semonian/nvag
	arch = x86_64
	license = custom
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = nss
	optdepends = fuse2: AppImage-runtime; zonder FUSE2 ook via --appimage-extract-and-run
	provides = nvag
	conflicts = nvag
	options = !strip
	options = !debug
	source = https://github.com/Shirak-Semonian/Nvag/releases/download/v1.0.4/Nvag-1.0.4.AppImage
	source = nvag.desktop
	source = icon.png
	sha256sums = 64ce2e557cb93ef121e2c25c35a2be59ddb63b6468b276c550717294bb8a6a2a
	sha256sums = bb5c6cfab891b0b03161ef934858e22c126c0186dac0d4525c25c0cbbd38c8d6
	sha256sums = 4363016ccf3541c84ae6a1eee83f507fb2b775aa89b9d6c8163875640267f9e9

pkgname = nvag-bin
